body{
	background-color: #FFF;
}
@font-face{
	font-family: bpg_mrgvlovani_caps_2010;
	src: url(fonts/bpg_mrgvlovani_caps_2010.ttf);
}
.header{
	height: 350px;
	width: 100%;
	border-bottom:1px solid gray;
	background-color: #eee;
	padding-top: 0px;
}
#main_menu_button li a {
	font-family: bpg_mrgvlovani_caps_2010;
	color:#10136A;
}
#main_menu_button li a:hover {
	font-family: bpg_mrgvlovani_caps_2010;
	color:#D5160A;
}
#tit{
  width: 40px;
  height: 25px;
}
#val{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 12pt;
	text-align: center;
	margin-top: 13px;
	color:white;
}
.valute_wrap{
	display: table;
	width: 100%;
	height: 50px;
	border-top:1px solid gray;
	border-bottom: 1px solid gray;
	background-color:#D32D28; 
}
#text_title{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 13pt;
	color:black;
	margin-top: 10px;
	text-align: left;
}

#text_title h3{
	font-family: bpg_mrgvlovani_caps_2010; 
	color:black;
	margin-top: 10px;
	text-align: left;
}
#text{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 12pt;
	color:black;
	margin-top: 10px;
	line-height: 200%;
}

#table_main{
	font-family: bpg_mrgvlovani_caps_2010; 
	color:black;
	margin-top: 10px;
	text-align: left;
	border:0px;
}
.partners_title{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 18pt;
	color:black;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	color:#555;
	text-decoration: underline;
}
.partners{
	margin-top: 10px;
	margin-bottom: 10px;
 	border-top:1px solid #e7e7e7;
 	border-bottom:1px solid #e7e7e7;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	display: table;
	background-color: #FAFAFA;
	width: 100%;
}
#part_main_img{
  	width: 100%;
  	height: 140px;
  	border-radius:5px;
  	border:1px solid #e7e7e7;
}
#partners_title{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 12pt;
	text-align: center;
	margin-top:5px;	
}
#img_header{
	width: 100%;
	height: 350px;
	margin-top: 0px;
}
#navii{
	margin-bottom: 0px;
}
#tit_logo{
	width: 40%;
	height: 50%;
}
#carousel-example-generic{
	height: 300px;
}
#main_wrapp{
	padding: 0px;
	margin: 0px;
	display: table;
}
#middle{
	display: table;
	width: 100%;
}
.footer{
	display: table;
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #e7e7e7;
	font-family: bpg_mrgvlovani_caps_2010; 
	color:black;
	font-size: 13pt;
	text-align: center;	
	padding-top:15px;
	height: 50px;
	background-color: whitesmoke;
}
@media screen and (max-width: 480px){
	.header{
		display: none;
	}
	#img_header{
		display: none;
	}
	.partners{
		display: none;
	}
	.partners_title{
		display: none;
	}
	.valute_wrap{
		display: none;
	}
	#val{
		display: none;
	}
	#text_title{
		font-family: bpg_mrgvlovani_caps_2010; 
		font-size: 10pt;
		color:black;
		margin-top: 10px;
		text-align: left;
	}

	#text_title h3{
		font-family: bpg_mrgvlovani_caps_2010; 
		color:black;
		margin-top: 10px;
		text-align: left;
	}
	#text{
		font-family: bpg_mrgvlovani_caps_2010; 
		font-size: 9pt;
		color:black;
		margin-top: 10px;
		line-height: 200%;
	}
	#table_main{
		font-family: bpg_mrgvlovani_caps_2010; 
		color:black;
		margin-top: 9px;
		text-align: left;
		border:0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 883px){
	.partners{
		display: none;
	}
	.partners_title{
		display: none;
	}
	.valute_wrap{
		display: none;
	}
	#val{
		display: none;
	}	
}
@media screen and (min-width: 883px) and (max-width: 931px){
	.partners{
		display: none;
	}
	.partners_title{
		display: none;
	}
}
@media screen and (min-width: 931px) and (max-width: 1003px){
	.partners{
		display: none;
	}
	.partners_title{
		display: none;
	}
	#inf{
		display: none;
	}
}
#admin_cat_title{
	border:1px solid gray;
	margin-bottom: 10px;
}
#admin_cat_title h4{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 12pt;
	text-align: left;
}
#hd_admin{
	padding: 0px;
	margin-top: 40px;
	margin-bottom: 10px;
	border-bottom:2px solid rgb(213, 22, 10);
	text-align: left;
}
#hd_admin h3{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 14pt;
	text-align: left;	
}
#hd_admin h4{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 11pt;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
#form_admin{
	font-family: bpg_mrgvlovani_caps_2010;
}
#form_main_wrapper_admin{
	border:1px solid gray;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
	padding-bottom: 40px;
	margin-top: 40px;
}
#warn{
	margin-top: 20px;
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 11pt;
	height: 60px;
	padding-left: 20px;
	padding-top: 22px;
	border-radius: 5px;
}
#table_adm{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 10pt;	
}
#edit a{
	color:rgb(212, 22, 10);
}
#img_admin{
	width: 100%;
	height: 150px;
}
#name_part_admin{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 11pt;
	text-align: center;
	margin-top: 5px;
}
#edit_partner_admin{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 11pt;
	text-align: center;
	margin-top: 5px;
}
#edit_partner_admin a{
	color: rgb(213, 22, 10);
}
#delete_partner_admin{
	font-family: bpg_mrgvlovani_caps_2010; 
	font-size: 11pt;
	text-align: center;
	margin-top: 5px;
}
#partner_wrap{
	margin-bottom: 10px;
}
#admin_gallery_but h4{
	text-align: center;
}
#album_admin_pic{
  width: 100%;
  height: 300px;
  border:1px solid rgb(234, 234, 234);
}
#album_admin_name{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}